version: '3.9'
services:
  postgres:
    image: postgres:14
    container_name: grafana-postgres
    restart: unless-stopped
    env_file: .env.postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./postgres/init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${PGUSER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: grafana-redis
    restart: unless-stopped
    ports:
      - 6379:6379

  prometheus:
    image: prom/prometheus:latest
    container_name: grafana-prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus:/etc/prometheus:ro
    ports:
      - 9090:9090

  loki:
    image: grafana/loki:2.10.3
    container_name: grafana-loki
    restart: unless-stopped
    ports:
      - 3100:3100
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki:/etc/loki
      - loki-storage:/loki

  grafana:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: grafana
    restart: unless-stopped
    ports:
      - 3000:3000
    depends_on:
      - postgres
      - redis
      - prometheus
    environment:
      GF_DATABASE_TYPE: postgres
      GF_DATABASE_HOST: postgres:5432
      GF_DATABASE_NAME: ${DATABASE_NAME}
      GF_DATABASE_USER: ${DATABASE_USER}
      GF_DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      GF_INSTALL_PLUGINS: alexanderzobnin-zabbix-app,alexanderzobnin-zabbix-datasource,novalabs-ora-datasource,marcusolsson-json-datasource,grafana-piechart-panel
      GF_PLUGIN_ALLOW_LOADING_UNSIGNED_PLUGINS: alexanderzobnin-zabbix-app,novalabs-ora-datasource
      GF_SERVER_ROOT_URL: http://localhost:3000
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:ro

volumes:
  pgdata:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /mnt/postgresql/data
  grafana-storage:
    driver: local
  loki-storage:
    driver: local
